/.ipynb_checkpoints
/.vscode
/gurobi.log
/ISYE6333_GroupProject (3).ipynb
/ISYE6333_JupyterNB_MS_HD_AR.ipynb
/ISYE6333_ProjectPPT_MS_HD_AR.pptx
/ISYE6333_Script_MS_HD_AR.py
/KY 2 Description.pdf
/ky2.inp
/ky2.p2k
/Problem A chart.png
/Problem A placement.tex
/Problem C chart.png
/Problem E chart - pipe_choice.png
/Problem E chart.png
/Problem EU chart - pipe_choice.png
/Problem EU chart.png
